body { 
    background-color: white; 
  }
  
  
  /* Navbar Code */
  .navbar {
    background-color: #1C1A1A!important;
  }
  
  #nav-content {
    color: silver;
  }
  
  #nav-button {
    background-color: gainsboro;
    margin-left: 5px;
  }
  
  #github {
    font-size: 250%;
    background-color: black;
    color: lightgrey;
    border-radius: 85%;
    margin-left: 10px;
  }
  
  
  
  #top {
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  #top-header {
    background-color: white;
  }
  
  #daily-img {
    float: left;
  }
  
  #publisher {
    padding-top: 10%;
    margin-left: 16%;
    font-size: 130%;
    font-family: 'Cinzel Decorative', cursive;
  }
  
  #disclaimer-txt {
    background-color: white;;
    padding: 3%;
  }
  
  #news-stories {
    background-color: whitesmoke;
    padding: 1%;
    border-radius: 2%;
  }
  
  /* SCRAPED DATA CSS */
  .data-date {
    margin-bottom: -2%;
    font-size: 95%;
  }
  
  .data-title {
    font-family: 'Prata', serif;
    font-size: 160%;
    margin-bottom: -3%;
  }
  
  .data-summary {
    font-family: 'Cormorant', serif;
    font-size: 105%; 
    margin-bottom: -3%
  }
  
  .data-link {
    font-size: 75%;
    margin-bottom: 10%;
  }
  
  .fas {
    font-size: 250%;
  }
  
  
  
  #wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }
  #articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
  }
  #notes {
    float: right;
    width: 30%;
    padding: 1.5%;
    border-radius: 5%;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: white;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
    margin-top: 5px;
  }